

body {
	background-color: rgba(15,15,15,1);
	z-index: -5;
}

#overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: transparent;

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#spindiv {
	display: none;

}

#spindiv:checked {
	pointer-events: none;
}


#circle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -90px;
	margin-left: -90px;
	width: 180px;
	opacity: 0.7;
	z-index: 3;

	-webkit-animation:spin 1.3s linear infinite;
	-moz-animation:spin 1.3s linear infinite;
	-o-animation:spin 1.3s linear infinite;
	animation:spin 1.3s linear infinite;
/*
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;*/
}

#spindiv:checked #circle {
	opacity: 0;
}

#spin1 {
	width: 180px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -90px;
	margin-left: -90px;
	z-index: 4;

	opacity: 0.8;
	cursor: progress;

	-webkit-animation:spin 1.3s linear infinite;
	-moz-animation:spin 1.3s linear infinite;
	-o-animation:spin 1.3s linear infinite;
	animation:spin 1.3s linear infinite;

	-webkit-filter: drop-shadow(0 0 5px rgba(255,255,255,1)) drop-shadow(0 0 2px rgba(255,255,255,1)) drop-shadow(0 0 10px rgba(255,255,255,1));
	filter: drop-shadow(0 0 5px rgba(255,255,255,1)) drop-shadow(0 0 2px rgba(255,255,255,1)) drop-shadow(0 0 10px rgba(255,255,255,1));
	-moz-filter: drop-shadow(0 0 5px rgba(255,255,255,1)) drop-shadow(0 0 2px rgba(255,255,255,1)) drop-shadow(0 0 10px rgba(255,255,255,1));
	
}

@-webkit-keyframes spin { 
	100% { -webkit-transform: rotate(360deg); } 
}


#spindiv:checked ~ label img {
	-webkit-filter: drop-shadow(0 0 5px rgba(255,0,0,1)) drop-shadow(0 0 2px rgba(255,0,0,1)) drop-shadow(0 0 15px rgba(255,0,0,1));
	filter: drop-shadow(0 0 5px rgba(255,0,0,1)) drop-shadow(0 0 2px rgba(255,0,0,1)) drop-shadow(0 0 15px rgba(255,0,0,1));
/*
	-webkit-animation:spin 1.5s linear infinite;
	-moz-animation:spin 1.5s linear infinite;
	-o-animation:spin 1.5s linear infinite;
	animation:spin 1.5s linear infinite;*/

	opacity: 1;
	cursor: default;
}



#wel {
	width: 130px;
	font-size: 13px;
	font-family: sans-serif;
	text-align: center;
	letter-spacing: 2px;

	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); 
   	-webkit-transform: translate(-50%, -50%);
   	-moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

	color: white;
	-webkit-filter: drop-shadow(0 0 5px rgba(255,255,255,1)) drop-shadow(0 0 7px rgba(255,255,255,1));
	filter: drop-shadow(0 0 5px rgba(255,255,255,1)) drop-shadow(0 0 7px rgba(255,255,255,1));

	z-index: 2;
	pointer-events: none;
	/*opacity: 0.7;*/

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

#spindiv:checked ~ #wel {
	opacity: 0;
	color: rgba(80,80,80,0.9);
}

#spindiv:checked ~ #overlay {
	background-color: rgb(245,245,245);
}

#ent a {
	width: 130px;
	font-size: 13px;
	font-family: sans-serif;
	text-align: center;
	letter-spacing: 2px;
	text-decoration: none;

	position: absolute;

	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); 
   	-webkit-transform: translate(-50%, -50%);
   	-moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

	color: rgba(80,80,80,0.9);
	opacity: 0;
	z-index: -3;
	visibility: hidden;

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	-webkit-transition-delay: 500ms;
	-moz-transition-delay: all 500ms;
	-o-transition-delay: all 500ms;	
	transition-delay: all 500ms;
}


#spindiv:checked ~ #ent a {
	z-index: 6;
	visibility: visible;
	opacity: 1

}


#actual  object {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}